{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'css/choicefiled_page.css'%}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
          <h2 class="title">
              Выберите время
          </h2>
        <form method="post">
          {% csrf_token %}
          {{form}}
          <button type="submit">Готово</button>
        </form>
    </div>
    </div>
</body>
</html>
{% endblock %}