{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'css/record_page.css'%}">
</head>
<body>
    <section class="records">
        <div class="container">
            <div class="records-wrapper">
                <h2 class="title">
                    Мои записи
                </h2>
                {% if not is_employee %}
                <a class="enroll-btn" href="{% url 'choose_employee_page'%}">Записаться</a>
                {% endif %}
            </div>
            {% if not is_employee %}
            <table>
                <tr>
                    <th>Специалист</th>
                    <th>Услуга</th>
                    <th class="price">Стоимость</th>
                    <th>Дата</th>
                    <th></th>
                </tr>
                {% for elem in records %}
                    <tr>
                        <td class="speciality">{{elem.employee.user.get_full_name}} {{elem.employee.speciality}}</td>
                        <td class="services">{{elem.service.name}}</td>
                        <td class="price">{{elem.service.price}}</td>
                        <td class="date">{{elem.date_record}}</td>
                        <td class="delete"><a href="{% url 'delete_record' elem.id %}" class="delete-record">Удалить</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <table>
                <tr>
                    <th>Клиент</th>
                    <th>Услуга</th>
                    <th>Стоимость</th>
                    <th>Дата</th>
                    <th></th>
                </tr>
                {% for elem in records %}
                    <tr>
                        <td class="speciality">{{elem.user.get_full_name}}</td>
                        <td class="services">{{elem.service.name}}</td>
                        <td class="price">{{elem.service.price}}</td>
                        <td class="date">{{elem.date_record}}</td>
                        <td class="delete"><a href="{% url 'delete_record' elem.id %}" class="delete-record">Удалить</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </section>
</body>
</html>
{% endblock %}